.mouldingContainer {
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
   }
.mouldingContainer .mouldingCard {
   width: 24%; 
   position: relative;
   margin-top: 20px;
   text-align: left;
   
   
}
.mouldingContainer .mouldingCard .mouldingHover { border: 1px solid #f9fafc; cursor: pointer}
.mouldingContainer .mouldingCard .mouldingHover:hover { border: 1px solid #d0d6da }

.mouldingContainer .mouldingCard .mouldingImage { 
   padding: 0 1.2em 1.2em;
   background-size: 95%;
   background-position: top;
   background-repeat: no-repeat;
   padding-bottom: 100%;

}
.mouldingContainer .mouldingCard img { width: 100%}

.mouldingContainer .mouldingCard .mouldingStatusCon { 
   padding: 1.2em;
   padding-bottom: 0;
}
.mouldingContainer .mouldingCard .mouldingStatusCon div { }
.mouldingContainer .mouldingCard .mouldingStatus { 
   font-size: .7em;
   text-transform: capitalize;
   padding: 3px 11px;
   border-radius: 6px;
   background-color: #5857a4;
   color: #fff;
   line-height: 1em;
   font-weight: 700;
   float: left;
}
.mouldingContainer .mouldingCard .mouldingSelect {
   font-size: .7em;
   float: right;
}

.mouldingContainer .mouldingCard .mouldingText {
   margin: .8em 0;
   font-size: .95em;
}