<div id="filters-component">
<div class="fields-container">
<mat-form-field>
        <mat-select placeholder="Category">
          <mat-option value="category1">Category1</mat-option>
        </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-select placeholder="Collection">
      <mat-option value="Collection1">Collection1</mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-select placeholder="Shape">
      <mat-option value="Shape1">Shape1</mat-option>
    </mat-select>
</mat-form-field>
 
</div>
</div>