
<!--The content below is only a placeholder and can be replaced.-->
<div>
    <header>
        <div id="header-con" class="widthContainer" >
            <div id="site-branding">LOGO</div>
            <div id="site-nav">
                <nav>
                    <ul>
                        <a href="/quick-order"><li>CS Order</li></a>
                        <li>Link 2</li>
                        <li>Link 3</li>
                    </ul>
                </nav>
            </div>
            <div id="cart-info">

            </div>
        </div>
    </header>
<router-outlet></router-outlet>
  
